page-businessuser {

  .top-nav {
    height: 50px;
    width: 100%;
    background-color: #2fa9fe;
    background-image: linear-gradient(141deg, #2fa9fe 0%, #2dcaff 51%, #2dcaff 75%);
    color: white;
    opacity: 0.95;
}



.content-top{
  background-color: #2fa9fe;
  background-image: linear-gradient(141deg, #2fa9fe 0%, #2dcaff 51%, #2dcaff 75%);
  color: white;
  opacity: 0.95;
  width: 110%;
  height: 20%;
  margin-left: -5%;
  margin-top: -5%;
  position: absolute;
}



.filter{
  width: 90%;
  //background-color: #fcfcfc;
  border-radius: 2% 2% 2% 2%;
  border: 1px solid #f4f4f4;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #fff;
  z-index: 9999;
  position: absolute;
}

.save-button{
  border-radius: 50px 50px;
  background-color: #2dbeff;
  font-weight: bolder;
  font-size: 15px;
}
}

