page-agendamento {

    .content-top{
        background-color: #2fa9fe;
        background-image: linear-gradient(141deg, #2fa9fe 0%, #2dcaff 51%, #2dcaff 75%);
        color: white;
        opacity: 0.95;
        width: 100%;
        height: 20%;
        position: relative;
    }

    .salon-title{
        margin-top: 0;
        padding-top: 5px;
        text-align: center;
        font-weight: bold;
    }

}